@using Umbraco.Cms.Core.Models
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{
    string siteLogo = (Model.Root().GetProperty("siteLogo")?.GetValue() as MediaWithCrops)?.LocalCrops.Src;
}

<div class="logo">
    @if (!string.IsNullOrEmpty(siteLogo))
    {
        <a class="nav-link nav-link--home nav-link--home__text logo-text" href="/">
            <img class="logo-image" src="@siteLogo" alt="@Model.Name">
        </a>
    }
    else
    {
        <a class="nav-link nav-link--home nav-link--home__text logo-text" href="/">@Model.Name</a>
    }
</div>