.carousel-image {
    background-image: var(--image-src);
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.read-more-link {
    color: red;
}