@using BlankUmbraco.ViewModels;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<HomeViewModel>

@{
}

<div class="container">
    <div class="row">
        <div class="col">
            @await Html.PartialAsync("Carousel", Model.NewsItems)
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
        </div>
    </div>
</div>